.server {
  list-style: none;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: -5px;
}

.flag {
  width: 32px;
  margin: 5px;
}

.server-name {
  width: 100%;
}

input[type="radio"] {
  width: auto;
}